langchain-huggingface
langchain==0.2.2
langchain-community==0.2.3
PyPDF2
playsound
gtts
fastapi
uvicorn
transformers
torch
torchaudio
unstructured==0.14.4 # Document loading
chromadb==0.5.0 # Vector storage
sentence-transformers
transformers
bitsandbytes
python-multipart
rank_bm25
